# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Android
android/app/debug
android/app/profile
android/app/release
android/.gradle/
android/captures/
android/local.properties
android/key.properties

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
xcuserdata/

# Firebase (NO subas estas claves!)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Otros
*.log
.env
.DS_Store
secrets.json
chrome_profile/
